h1, h3 { color: #ffffff }
h1 { font-size: 55px; }
h2, a, :link { color: #ffff00 }
a:visited, :link:visited { color: #008888 }
a:active, :link:active { color: #00aa00 }
body {

    font-family: sans-serif;
    background-color: #003300;
}

hr {

    border: 1px solid #bb8800;
    margin-bottom: 60px;
}

.styled {

    input.selected { background-color: #006666 }
    input:hover { background-color: #008800 }
    input.selected:hover { background-color: #008888 }
    input:active { background-color: #00aa00 }
    input.selected:active { background-color: #00aaaa }
    input {

        border-radius: 5px;
        height: 20px;
        color: #ffffff;
        font-size: 11px;
        width: 8%;
        min-width: 135px;
        text-align: center;
        background-color: #006600;
        border: 1px solid #444444;
    }
}

.rightbutton {

    margin-left: 70%;
    margin-right: 0;
}