nav form {

    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    background-color: #ffff00;
    width: 98%;

    input[disabled] {

        pointer-events: none;
        background-color: #666666;
    }
}

.sticky {

    position: sticky;
    top: 10px;
    width: 100%;
    form {

        background: #ffff0066;
        input {

            min-width: fit-content;
            width: 1px;
            font-size: 10px;
            background: #004444;
        }
    }
}