table {

    width: 80%;
    border-style: double;
    td {

        border-style: solid;
        border-color: gray;
        border-width: 1px;
        text-align: center;
    }

    .addedWork {

        border-style: solid;
        border-color: black;
        background-color: #87f6ce;
    }

    #tableTitle {

        border-style: solid;
        border-color: black;
        padding: 3px 3px 3px 3px;
        background-color: #c7c7ec;
    }
}


